.App {
  margin: 16px;
}

.text--length {
  width: 300px;
  margin: 100px auto;
  padding: 30px;
  text-align: center;
  border: 1px solid red;
}

.char {
  display: inline-block;
  padding: 16px;
  text-align: center;
  margin: 16px;
  border: 1px solid black;
}